/* -------------- ONLINE IMPORTS -------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


/* -------------- VARIABLES -------------- */
:root {
   /* COLOR SCHEMES */
   --primary-dark: #0a0a0a;
   --primary-light: #ececec;
   --secondary-dark: #1c1c1c;
   --secondary-light: #d2d3d3;
   --tertiary-dark: #3f3f3f;
   --primary-colored: #e84a5f;

   /* BREAKPOINTS */
   --xs: 0;
   --sm: 576px;
   --md: 768px;
   --lg: 992px;
   --xl: 1200px;
   --xxl: 1400px;
}


* {
   box-sizing: border-box;
   font-family: 'Roboto Slab', serif;
   margin: 0;
   padding: 0;
}


/* -------------- NAVIGATION BAR -------------- */
.my-navbar {
   position: absolute;
   top: 0;
   height: 75px;
   width: 100%;
   background-color: var(--primary-dark);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 30px;
}
#my-logo {
   font-size: 25px;
   font-weight: 800;
}
.my-navbar a {
   text-decoration: none;
   color: var(--primary-light);
}
.navbar-links li {
   position: relative;
   display: inline;
   list-style: none;
   padding: 0.7vh 1.7vw;
}
.navbar-links li:hover {   
   background-color: var(--tertiary-dark);
   border-radius: 5%;
   transition: 0.3s;
}
.my-navbar li a:hover {
   color: var(--primary-colored);
   transition: 0.2s;
}
#hamburger {
   height: 35px;
   width: 35px;
   position: relative;
   display: none;
   cursor: pointer;
   z-index: 2;
}
#hamburger div {
   height: 2px;
   width: 25px;
   background-color: var(--primary-light);
   transition: 0.5s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 7px);
  transform: rotate(-45deg) translate(-6px, 7px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px);
}

#main-content {
   width: 100%;
   padding: 75px;
   color: var(--primary-dark);
}


/* -------------- HEADER CONTENTS -------------- */
.main-header {
   height: 500px;
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}
#portfolio-photo img {
   height: 400px;
   width: 400px;
   border-radius: 50%;
}
#header-info {
   width: 50%;
   display: flex;
   flex-direction: column;
}
#header-info h1 {
   font-size: 55px;
   font-weight: 800;
   color: var(--primary-dark);
   line-height: 60px;
}
#header-info h2 {
   font-size: 32px;
   font-weight: 600;
   color: var(--tertiary-dark);
   line-height: 35px;
}
#header-info h3 {
   font-size: 20px;
   font-weight: 600;
}
#header-intro {
   align-self: flex-start;
}
#header-additions {
   display: flex;
   align-self: flex-end;
   flex-direction: row;
   flex-wrap: wrap;
}
#header-additions div {
   margin: 10px 30px 0 30px;
}


/* -------------- MEDIA QUERY -------------- */
/* NAVBAR ADJUSTMENTS */
@media screen and (max-width: 768px) {
   body {
      overflow-x: hidden;
   }
   .navbar-links {
      position: absolute;
      background-color: var(--primary-dark);
      right: 0;
      top: 74px;
      height: 90vh;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
   }
   .navbar-links li {
      display: flex;
      justify-content: center;
      width: 250px;
      padding: 0;
      opacity: 0;
   }
   .navbar-links li:hover {   
      background-color: var(--primary-dark);
      transition: 0s;
   }
   .my-navbar li a {
      position: relative;
      text-align: center;
      width: 85%;
      padding: 11vh 0;
      border-radius: 5%;
   }
   .my-navbar li a:hover {
      background-color: var(--tertiary-dark);
      transition: 0.3s;
   }
   #hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 50%;
   }
   #hamburger:hover {
      background-color: var(--tertiary-dark);
      box-shadow: 0 0 0 3px var(--tertiary-dark);
      transition: 0.2s;
   }
   #hamburger:hover div {
      background-color: var(--primary-colored);
   }
}

/* MAIN HEADER ADJUSTMENTS */
@media screen and (max-width: 1336px) {
#header-info h1 {
   font-size: 48px;
   line-height: 53px;
}
#header-info h2 {
   font-size: 30px;
   line-height: 32px;
}
}
@media screen and (max-width: 1186px) {
   #portfolio-photo img {
      height: 330px;
      width: 330px;
   }
   #header-info {
      width: 60%;
   }
}
@media screen and (max-width: 1014px) {
   #main-content {
      padding: 90px 75px 75px 75px;
   }
   #header-info h1 {
      font-size: 42px;
      line-height: 45px;
   }
   #header-info h2 {
      font-size: 28px;
      line-height: 30px;
   }
}
@media screen and (max-width: 974px) {
   #portfolio-photo img {
      height: 300px;
      width: 300px;
   }
   .main-header {
      height: 570px;
   }
   #header-info {
      width: 75%;
   }
}
@media screen and (max-width: 832px) {
   #portfolio-photo img {
      height: 250px;
      width: 250px;
   }
   .main-header {
      height: 500px;
   }
   #header-info h1 {
      font-size: 38px;
      line-height: 40px;
   }
   #header-info h2 {
      font-size: 24px;
      line-height: 27px;
   }
   #header-info h3 {
      font-size: 18px;
   }
   #header-info li {
      font-size: 15px;
   }
}
@media screen and (max-width: 744px) {
   .main-header {
      height: 600px;
   }   
}
@media screen and (max-width: 696px) {
   #main-content {
      padding: 90px 55px 75px 55px;
   }
   #header-info {
      width: 100%;      
   } 
   #header-info h1 {
      font-size: 34px;
      line-height: 36px;
   }
   #header-info h2 {
      font-size: 23px;
      line-height: 25px;
   }
   #header-intro {
      width: 100%;
   }
   #header-intro h1, h2{
      text-align: center;
   }
   #header-additions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 12vw;
   }
   #header-info h3 {
      font-size: 18px;
   }
   #header-info li {
      font-size: 15px;
   }
}
@media screen and (max-width: 477px) {
   .main-header {
      height: 520px;
   }
   #main-content {
      padding: 90px 20px 75px 20px;
   }
   #portfolio-photo img {
      height: 220px;
      width: 220px;
   }
   #header-info h1 {
      font-size: 29px;
      line-height: 30px;
   }
   #header-info h2 {
      font-size: 19px;
      line-height: 20px;
   }
   #header-info h3 {
      font-size: 16px;
   }
   #header-info li {
      font-size: 13px;
   }
}
@media screen and (max-width: 477px) {   
   #header-info h1 {
      font-size: 24px;
      line-height: 25px;
   }
}


/* -------------- TOGGLED CLASSES -------------- */
.nav-active {
   transform: translateX(0%);
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(50px);
   }
   to {
      opacity: 1;
      transform: translateX(0px);
   }
}